%p Protected page, only viewable when logged in.


%div{style: 'font-size: 16px; padding: 20px; background: #ef9' }
  %h3 Rails User:
  %p= request.env['warden'].user.inspect
  
  %h3 Session Info
  %p= request.session
  
  %h3 Cookie Info
  %p= request.cookies
  


%p= link_to 'Wiki protected page', '/wiki/protected'