
<div style="font-size: 16px; padding: 20px; background: #ef9">
  <h3>Sinatra User</h3>
  <p>{{user}}</p>
  
  <h3>Session Info</h3>
  <p>{{session}}</p>
  
  <h3>Cookie Info</h3>
  <p>{{cookies}}</p>
</div>
